html {
    background-color: darkgray;
}

body {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: "Arial", sans-serif;
    font-size: 54px;
    text-align: center;
}

h2 {
    font-family: "Arial", sans-serif;
    font-size: 36px;
    margin: 10px;
}

p {
    font-size: 24px;
    margin: 10px;
    font-family: "Arial", sans-serif;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

ul {
    font-family: "Arial", sans-serif;
    font-size: 20px;
}

li {
    font-family: "Arial", sans-serif;
    font-size: 20px;
}

#container {
    background-color: #ffccff;
    margin: 0 auto;
    width: 70%;
    margin-top: 0px;
}

/*Navigation Bar*/
.topnav {
    background-color: #333333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #eeeeee;
    font-family: "Arial", sans-serif;
    font-size: 24px;
    padding: 17px;
    text-align: center;
    text-decoration: none;
}

.topnav a.active {
    background-color: #ff99ff;
    color: #eeeeee;
    text-align: center;
    padding: 17px;
    text-decoration: none;
    font-size: 24px;
}

.topnav a:hover {
    background-color: white;
    color: black;
}

.topnav a.image {
    float: right;
    padding: 8px;
}
/*Dropdown menu*/
.dropbtn {
  background-color: #ff99ff;
  color: #fff;
  padding: 16px;
  font-size: 24px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}.dropdown-content {
   display: none;
   position: absolute;
   background-color: #ff99ff;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 .dropdown-content a {
   color: fff;
   background: #ff99ff;
   padding: 12px;
   text-decoration: none;
   display: block;
 }

.dropdown-content a:hover {background-color: #fff; color: black;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #fff; color: black;}