html {
    background-color: darkgray;
}

body {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: "Arial", sans-serif;
    font-size: 54px;
    text-align: center;
}

h2 {
    font-family: "Arial", sans-serif;
    font-size: 36px;
    margin: 10px;
}

p {
    font-size: 24px;
    margin: 10px;
    font-family: "Arial", sans-serif;
}

ul {
    font-family: "Arial", sans-serif;
    font-size: 20px;
}

li {
    font-family: "Arial", sans-serif;
    font-size: 20px;
}

#container {
    background-color: #ffccff;
    margin: 0 auto;
    width: 70%;
    margin-top: 0px;
}


.topnav {
    background-color: #333333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #eeeeee;
    font-family: "Arial", sans-serif;
    font-size: 24px;
    padding: 17px;
    text-align: center;
    text-decoration: none;
}

.topnav a.active {
    background-color: #ff99ff;
    color: #eeeeee;
    text-align: center;
    padding: 17px;
    text-decoration: none;
    font-size: 24px;
}

.topnav a:hover {
    background-color: white;
    color: black;
}

.topnav a.image {
    float: right;
    padding: 8px;
}